h1, h2 {
  text-align: center;
}

.table td,
.table th {
  border-top: 1px solid #fff;
}

table caption {
  font-weight: bold;
}

table thead th {
  font-weight: normal !important;
}

table th:first-child {
  text-align: right;
}

#us-map {
  position: relative;
}

svg,
.no-select {
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
}

#legend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 10px 0 6px;
  background: #f3f3f3;
  background: rgba(240,240,240,.8);
}

  #legend,
  #legend .box {
  }

  #legend ul,
  #legend li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #legend li {
    margin-bottom: 2px;
  }

  #legend li:last-child {
    margin-bottom: 4px;
  }

#us-map svg {
  display: block;
  width: 100%;
}

  #us-map path.state {
    fill-opacity: .8;
    stroke: #fff;
    stroke-width: 1;
  }

  #us-map path.state:hover {
    fill-opacity: 1;
  }

#states .state {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

  #states .state.active {
    background: #f9f9f9;
  }

#states .state .map {
}

#states .state .map svg {
  display: block;
  width: 100%;
}

#states .state .map path.state {
  stroke: none;
  fill: #fff;
}

/* "no issue" */
/* "may issue" */
/* "shall issue" */
/* "unrestricted" */
.rtc-N, .rtc-N b { background-color: #ccd6d6 !important; } svg .rtc-N { fill: #ccd6d6; }
.rtc-M, .rtc-M b { background-color: #a1bcbf !important; } svg .rtc-M { fill: #a1bcbf; }
.rtc-S, .rtc-S b { background-color: #5d7575 !important; } svg .rtc-S { fill: #5d7575; }
.rtc-U, .rtc-U b { background-color: #29465b !important; } svg .rtc-U { fill: #29465b; }

.syg-S, .syg-S b,
.syg-C, .syg-C b {
  background-attachment: fixed;
}

.syg-S, .syg-S b { background-image: url(images/stand-your-ground.png); }
.syg-C, .syg-C b { background-image: url(images/castle-doctrine.png); }

pattern path {
  fill: none;
  stroke: #000;
  stroke-width: .4;
}

#legend h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  margin: 0;
}

#legend li {
  background: none !important;
}

#legend b {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: baseline;
  position: relative;
  top: 2px;
  text-align: center;
  margin-right: 4px;
}

#concealed-carry th,
#concealed-carry td {
   line-height: 16px !important;
}

#concealed-carry tbody td { opacity: .8; }
#concealed-carry tbody tr:hover td { opacity: 1; }

/* don't show state abbreviations by default
 * (we'll show these in the collapsed layout) */
#concealed-carry abbr {
  display: none;
  font-weight: bold;
  font-family: "Andale Mono", "Courier New", monospace;
}

#concealed-carry tbody th {
  font-weight: normal;
}

/* collapse the concealed carry table */
@media (max-width: 979px) {

  /* state titles: shrink */
  #concealed-carry tbody th {
    max-width: 1.5em;
  }

  /* show state abbreviations */
  #concealed-carry tbody th abbr {
    display: inline;
  }

  /* hide full state names */
  #concealed-carry tbody th .name {
    display: none;
  }

  /* hide the thead */
  #concealed-carry thead {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767px) {
  #us-map #legend {
    position: relative;
    margin: 5px 0 10px;
  }
}
