h1, h2 {
  text-align: center;
}

#us-map svg {
  display: block;
  width: 100%;
}

#us-map path.state {
  fill: #ccc;
  fill-opacity: .9;
  stroke: #fff;
  stroke-width: .5;
}

#us-map path.state:hover {
  fill-opacity: 1;
}

#states .state .map svg {
  width: 200px;
  height: 200px;
}

#states .state .map path.state {
  fill: #ccc;
  stroke: none;
}
